<footer class="footer">
    <section class="footer_box">
            <h3>- get in touch with us -</h3>
            <p class="mobil_text">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. </p>
            <p class="pc_text">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</p>
            <ul class="icons">
        <li class="rss"><img src="../img/rss-icon.png" alt="icon"></li>
        <li class="facb"><img src="../img/facebook-icon.png" alt="icon"></li>
        <li class="twitt"><img src="../img/twitter-icon.png" alt="icon"></li>
        <li class="drib"><img src="../img/dribbble-icon.png" alt="icon"></li>
        <li class="pint"><img src="../img/pinterest-icon.png" alt="icon"></li>
       </ul>
        <ul class="contacts">
            <li><a href="#"></a> Moonshine St. 14-05 Light City  /</li>
            <li><a href="#"></a> T. +00 (123) 456 78 90  /</li>
            <li><a href="#"></a> first.last@email.com</li>
        </ul>
    </section>
</footer>