<header class="container_header">
       <div class="header">
        <ul class="header_list">
            <li><a  class="header_link" href="#">Home</a></li>
            <li><a  class="header_link" href="#">About us</a></li>
            <li><a  class="header_link" href="#">Our Journal</a></li>
            <li><a  class="header_link" href="#">Projects</a></li>
            <li><a  class="header_link" href="#">News</a></li>
            <li><a  class="header_link" href="#">Features</a></li>
            <li><a  class="header_link" href="#">Contact</a></li>
       </ul>
       <div class="header_svg">
        <div class="svg-on">
          <svg class="on" xmlns="http://www.w3.org/2000/svg" width="44" height="37" viewBox="0 0 44 37" fill="none">
            <g clip-path="url(#clip0_22_47)">
              <rect width="44" height="37" fill="black" fill-opacity="0.01"/>
              <rect x="13" y="13" width="17" height="2" fill="white"/>
              <rect x="13" y="17" width="17" height="2" fill="white"/>
              <rect x="13" y="21" width="17" height="2" fill="white"/>
            </g>
            <defs>
              <clipPath id="clip0_22_47">
                <rect width="44" height="37" fill="white"/>
              </clipPath>
            </defs>
          </svg>
        </div>
         <svg class="of" xmlns="http://www.w3.org/2000/svg" width="44" height="37" viewBox="0 0 44 37" fill="none">
              <g clip-path="url(#clip0_22_120)">
                 <rect width="44" height="37" fill="black"/>
                 <rect x="27.8033" y="24.7175" width="17" height="2" transform="rotate(-135 27.8033 24.7175)" fill="white"/>
                 <rect x="15.7825" y="23.3033" width="17" height="2" transform="rotate(-45 15.7825 23.3033)" fill="white"/>
             </g>
             <defs>
                 <clipPath id="clip0_22_120">
                 <rect width="44" height="37" fill="white"/>
                 </clipPath>
             </defs>
         </svg>
       </div>
           <ul class="burger">
            <li><a class="burger_nav" href="#">Home</a></li>
            <li><a class="burger_nav" href="#">about us</a></li>
            <li><a class="burger_nav" href="#">our journal</a></li>
            <li><a class="burger_nav" href="#">our journal</a></li>
            <li><a class="burger_nav" href="#">news</a></li>
            <li><a class="burger_nav" href="#">features</a></li>
            <li><a class="burger_nav" href="#">contact</a></li>
           </ul>
       </div>
      </header>
