@import "reset_css";
@import "fonts"; 
@import "mixin";
@import "variable";


.main_content{
    width: 100%;
    margin: 0 auto;
}

//.......
//не знаю чи потрібно прописувати стилі, якщо розщирення менше 320пх, але най буде, щоб не скакало по екрану
@media (max-width: 320px){
    .main_content{
        width: 320px;
        .header{
            position: relative;
            @include marginTB(23px, 23px);
            @include display(flex,center,flex-end);
            flex-direction: column;
            .header_list{
                display: none;
            }
        .svg-on{
            &::before{
                content: "";
                display: block;
                background-color: #000000;
                @include size(44px, 37px);
                position: absolute;
            }
            .on{
                position: absolute;   
            }
        }
        .burger{
            @include size(182px, 208px);
            background: #F5F5F5;
            display: none;
            flex-direction: column;
            justify-content: space-around;
            position: absolute;
            top: 38px;
            right: -1px;
            li{
                height: 22px;
                &:hover{
                    background-color: #e5e5e5;
                }                
            }
            .burger_nav{
                position: relative;
                top: 0px;
                left: 13px;
                &:hover{
                    color: #57A4A4;
                }
            }
            
        }
        }
        .main_foto{
            img{
            @include size(320px, 150px);
            }
        }
        .posts{
            @include marginTB(38px, 40px);
            h2{
                margin-bottom: 23px;
                width: 170px;
            }
            .posts_box li:last-child {
                display: none;
            }
            .post_text{
                margin-bottom: 29px;
                p{
                    display: none;
                }
            }
        }
    }
    .inst_container{
        @include display(flex,center,center);
        .inst_shots{
            width: 320px;
            .inst_nav{
                h3{
                @include marginTB(38px, 13px);
                }
                span{
                    display: none;
                }
            }
            .inst_foto_list{
                margin-bottom: 42px;
                li{
                    &:not(:first-child){
                        display: none;
                    }
                }
            }
            
        }
    }
    
    .footer_box{
        width: 320px;
        h3{
            @include marginTB(38px, 8px); 
        }
        p{
            @include fontz(12px,20px,400,#B9B9B9);
            width: 303px;
        }
        .pc_text{
            display: none;
        }
        .icons{
            @include marginTB(26px, 25px); 
        }
        .contacts{
            @include fontz(12px,24px,400,#B9B9B9);
            text-align: center; 
            margin-bottom: 47px;
        }             
    }
}

// ........

@media (min-width: 320px){
    .main_content{
        width: 320px;
        .header{
            position: relative;
            @include marginTB(23px, 23px);
            @include display(flex,center,flex-end);
            flex-direction: column;
            .header_list{
                display: none;
            }
        .svg-on{
            &::before{
                content: "";
                display: block;
                background-color: #000000;
                @include size(44px, 37px);
                position: absolute;
            }
            .on{
                position: absolute;   
            }
        }
        .burger{
            @include size(182px, 208px);
            background: #F5F5F5;
            display: none;
            flex-direction: column;
            justify-content: space-around;
            position: absolute;
            top: 38px;
            right: -1px;
            li{
                height: 22px;
                &:hover{
                    background-color: #e5e5e5;
                }                
            }
            .burger_nav{
                position: relative;
                top: 0px;
                left: 13px;
                &:hover{
                    color: #57A4A4;
                }
            }
            
        }
        }
        .main_foto{
            img{
            @include size(320px, 150px);
            }
        }
        .posts{
            @include marginTB(38px, 40px);
            h2{
                margin-bottom: 23px;
                width: 170px;
            }
            .posts_box li:last-child {
                display: none;
            }
            .post_text{
                margin-bottom: 29px;
                p{
                    display: none;
                }
            }
        }
    }
    .inst_container{
        @include display(flex,center,center);
        .inst_shots{
            width: 320px;
            .inst_nav{
                h3{
                @include marginTB(38px, 13px);
                }
                span{
                    display: none;
                }
            }
            .inst_foto_list{
                margin-bottom: 42px;
                li{
                    &:not(:first-child){
                        display: none;
                    }
                }
            }
            
        }
    }
    
    .footer_box{
        width: 320px;
        h3{
            @include marginTB(38px, 8px); 
        }
        p{
            @include fontz(12px,20px,400,#B9B9B9);
            width: 303px;
        }
        .pc_text{
            display: none;
        }
        .icons{
            @include marginTB(26px, 25px); 
        }
        .contacts{
            @include fontz(12px,24px,400,#B9B9B9);
            text-align: center; 
            margin-bottom: 47px;
        }             
    }
}



@media (min-width: 768px){
    .main_content{
        width: 768px;
        .header{
            @include marginTB(41px, 43px);
            @include display(flex,center,center);
            .header_list{
            @include display(flex,space-evenly,center);
            width: 768px;
            }
            .header_svg{
                display: none;
            } 
        }
        .main_foto{
            img{
            @include size(768px, 361px);
            }
        }
        .posts{
            @include marginTB(59px, 60px);
            h2{
                margin-bottom: 23px;
                width: 190px;
            }
            .posts_box {
                li{
                    &:last-child{
                        display: flex;
                    }
                }
                
            }
            .post_text{
                margin-bottom: 29px;
                p{
                    display: block;
                }
            }
        .posts_box{
            li{
                display: flex;
                img{
                    padding-right: 21px;
                    padding-bottom: 32px;
                }
                .post_text{
                    p{
                        width: 404px;
                    }
                }
            }
        }       
        }
            
    }
    .inst_container{
        background-color:rgba(0, 0, 0, 0.03);
        @include display(flex,center,center);
        .inst_shots{
            width: 768px;
            .inst_nav{
                @include display(flex,space-between,center);
                h3{
                @include marginTB(47px, 35px);
                }
                span{
                    display: block;
                }
            }
            .inst_foto_list{
                @include display(flex,space-around,center);
                margin-bottom: 50px;
                li{
                  &:nth-child(2){
                    display: block;
                  }
                  &:nth-child(3){
                    display: block;
                  }
                  img{
                   @include size(249px, 249px);
                  }
            }    
            }
        }
    }
    .footer_box{
        width: 768px;
        h3{
            @include marginTB(57px, 22px); 
        }
        p{
            @include fontz(16px,26px,400,#B9B9B9);
            width: 684px;
        }
        .mobil_text{
            display: none;
        }
        .pc_text{
            display: block;
        }
        .icons{
            @include marginTB(37px, 34px); 
        }
        .contacts{
            width: 613px;
            @include fontz(16px,26px,400,#B9B9B9);
            @include display(flex,space-evenly,center);
            margin-bottom: 56px;
        }             
    }
}


    


@media (min-width: 1200px){
    .main_content{
        width: 1170px;
        .header{
            @include marginTB(45px, 51px); 
            @include display(flex,center,center);
            .header_list{
            @include display(flex,space-evenly,center);
            width: 1170px;
            }
            svg{
                display: none;
            }  
        }
        .main_foto{
            img{
            @include size(1170px, 550px);
            }
        }
        .posts{
            @include marginTB(69px, 69px);
            h2{
                margin-bottom: 24px;
                width: 190px;
            }
            .posts_box {
                display: grid;
                grid-template-areas: 
                "post1 post2"
                "post3 post4";
                gap: 32px;
                li{
                    &:last-child{
                        display: flex;
                    }
                }
                
            }
            .post_text{
                p{
                    display: block;
                }
            }
        .posts_box{
            li{
                display: flex;
                img{
                    padding-right: 21px;
                }
                .post_text{
                    p{
                        width: 404px;
                    }
                }
            }
        }       
        }
            
    }
    .inst_container{
        background-color:rgba(0, 0, 0, 0.03);
        @include display(flex,center,center);
        .inst_shots{
            width: 1170px;
            .inst_nav{
                @include display(flex,space-between,center);
                h3{
                @include marginTB(47px, 24px);
                }
                span{
                    display: block;
                }
            }
            .inst_foto_list{
                @include display(flex,space-around,center);
                margin-bottom: 50px;
                li{
                  &:nth-child(2){
                    display: block;
                  }
                  &:nth-child(3){
                    display: block;
                  }
                  &:nth-child(4){
                    display: block;
                  }
                  img{
                   @include size(285px, 285px);
                  }
            }    
            }
        }
    }
    .footer_box{
        width: 1170px;
        h3{
            @include marginTB(66px, 22px); 
        }
        p{
            @include fontz(16px,26px,400,#B9B9B9);
            width: 684px;
        }
        .mobil_text{
            display: none;
        }
        .pc_text{
            display: block;
        }
        .icons{
            @include marginTB(37px, 34px); 
        }
        .contacts{
            width: 613px;
            @include fontz(16px,26px,400,#B9B9B9);
            @include display(flex,space-evenly,center);
            margin-bottom: 70px;
        }             
    }
}

.header{
    padding: 0;
    @extend %lst;
    .header_link{
        @extend %ff;
        @include fontz(11px,22px,400,#4E4E4E);
        &:hover{
            color: #57A4A4;
        }
        }
    .burger_nav{
    width: 182px;
    @include fontz(11px,22px,400,#4E4E4E); 
    @extend %ff;
    @extend %lap;
}
    }

.posts{
    @extend %ff;
    h2{
        @include fontz(16px,22px,700,#4E4E4E);
        text-transform: uppercase;
    }
}

.post_text{
    @extend %ff;
    h3{
        @include fontz(16px,30px,700,#4E4E4E);
        @include marginTB(11px, 1px);
    }
    span{
        @include fontz(12px,20px,400,#7C7C7C);
        margin-bottom: 13px;
    }
    p{
        @include fontz(14px,26px,400,#5C5C5C);
    }
}

.inst_nav{
    @extend %ff;
    h3{
        @include fontz(16px,22px,700,#4E4E4E);
        text-transform: uppercase;
    }
    span{
       @include fontz(13px,22px,700,#4E4E4E);
       text-transform: uppercase;
    }
}

.footer{
        @include display(flex,center,center);
        background-color: #000000;
    .footer_box{
        @include display(flex,center,center);
        flex-direction: column;
        @extend %ff;
        h3{
            @include fontz(14px,22px,700,#FEFEFE);
            text-transform: uppercase;
        }
        p{
            text-align: center;
        }
        .icons{
            width: 303px;
            @include display(flex,center,center);
            li{
                @include size(34px, 34px); 
                text-align: center;
                padding-left: 12px;
            }
            .rss{
                &::after{
                    @extend %lap;
                    border: 2px solid #F8902E;
                    }                
            } 
            .facb{
                &::after{
                    @extend %lap;
                    border: 2px solid #39599F;
                    }
            }
            .twitt{
                &::after{
                    @extend %lap;
                    border: 2px solid #45B0E3;
                    }
            }
            .drib{
                &::after{
                    @extend %lap;
                    border: 2px solid #D97AB0;
                    }
            }
            .pint{
                &::after{
                    @extend %lap;
                    border: 2px solid #CC212C;
                    }
            }
        }
    }
}


